Brotli==1.1.0
GitPython==3.1.43
Jinja2==3.1.4
Markdown==3.6
MarkupSafe==2.1.5
OpenEXR==3.2.4
PyOpenGL==3.1.7
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.18.0
Werkzeug==3.0.3
absl-py==2.1.0
array_record==0.5.1
asttokens==2.4.1
astunparse==1.6.3
cachetools==5.3.3
certifi==2024.6.2
cfgv==3.4.0
charset-normalizer==3.3.2
chex==0.1.85
click==8.1.7
cloudpickle==3.0.0
contextlib2==21.6.0
contourpy==1.2.1
cycler==0.12.1
decorator==4.4.2
distlib==0.3.8
distrax==0.1.5
dlimp==0.0.1
dm-env==1.6
dm-tree==0.1.8
dm_control==1.0.20
docker-pycreds==0.4.0
docstring_parser==0.16
einops==0.8.0
etils==1.9.2
executing==2.0.1
filelock==3.15.4
flatbuffers==24.3.25
flax==0.7.5
fonttools==4.53.0
fsspec==2024.6.0
gast==0.5.5
gitdb==4.0.11
glfw==2.7.0
gmpy2==2.1.5
google-auth-oauthlib==1.2.0
google-auth==2.30.0
google-pasta==0.2.0
googleapis-common-protos==1.63.2
grpcio==1.64.1
gym-notices==0.0.8
gym==0.26.2
h5py==3.11.0
huggingface-hub==0.23.4
identify==2.5.36
idna==3.7
imageio-ffmpeg==0.5.1
imageio==2.34.2
immutabledict==4.2.0
importlib_resources==6.4.0
ipython==8.25.0
jax==0.4.20
jaxlib==0.4.20
jedi==0.19.1
keras==2.15.0
kiwisolver==1.4.5
labmaze==1.0.6
libclang==18.1.1
lxml==5.2.2
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
matplotlib==3.9.0
mdurl==0.1.2
ml-dtypes==0.2.0
ml_collections==0.1.1
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.8
mujoco==3.1.6
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.3
nodeenv==1.9.1
numpy==1.24.3
oauthlib==3.2.2
opt-einsum==3.3.0
optax==0.1.5
optree==0.11.0
orbax-checkpoint==0.4.4
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pillow==10.3.0
pip==24.0
platformdirs==4.2.2
plotly==5.22.0
pre-commit==3.3.3
proglog==0.1.10
promise==2.3
prompt_toolkit==3.0.47
protobuf==4.25.3
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
regex==2024.5.15
requests-oauthlib==2.0.0
requests==2.32.3
rich==13.7.1
rsa==4.9
safetensors==0.4.3
scipy==1.12.0
sentry-sdk==2.6.0
setproctitle==1.3.3
setuptools==70.1.1
simple_parsing==0.1.5
six==1.16.0
smmap==5.0.1
stack-data==0.6.3
sympy==1.12.1
tenacity==8.4.2
tensorboard-data-server==0.7.2
tensorboard==2.15.2
tensorflow-addons==0.23.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.15.0
tensorflow-graphics==2021.12.3
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.0
tensorflow-metadata==1.15.0
tensorflow-probability==0.23.0
tensorflow-text==2.15.0
tensorflow==2.15.0
tensorstore==0.1.45
termcolor==2.4.0
tf_keras==2.15.1
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.1
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.41.2
trimesh==4.4.1
triton==2.3.1
typeguard==2.13.3
typing_extensions==4.12.2
urllib3==2.2.2
virtualenv==20.26.3
wandb==0.17.3
wcwidth==0.2.13
wheel==0.43.0
wrapt==1.14.1
zipp==3.19.2